anextensionframework.sdf
*.opensdf
*.exp
*.tlog
*.lastbuildstate
*.manifest
source/extension/wingui/Release/resources.res
*.ipch
*.tlog
*.obj
*.manifest
*.lastbuildstate
*.Build/*.log
*.CppClean.log
*.pdb
build/AnExtensionFramework.dll
build/plugin/*.dll
build/extension/*.dll
*.sdf
*.opensdf
*.ipch
*.exe
*.res
*.suo
*.aps
*.bat
*.user
*.unsuccessfulbuild
*.pyc
*.idb
